In [1]:
# Python Basics 
# 1. Numeric data types:
    # a. Integer  (int) Whole number, both positive and negative without a decimal points
        # Ex: 5, -3, 1000
#Addition
5+3

8

In [2]:
#Subtraction
5-3

2

In [3]:
#Multiplication
5*3

15

In [4]:
#Devision
5/3

1.6666666666666667

In [5]:
5//3

1

In [6]:
#Modulus
# 1. Checking for even or odd numbers
num =7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [7]:
# 2. Circular counting or wrapping around
my_list = ['a','b','c','d','e']
index = 7
print(my_list[index % len(my_list)])

c

In [8]:
# 3. Determining divisibility
num = 15 
if num %3==0:
    print("Divisible by 3")
else:
    print("Not divisible by 3")

Divisible by 3

In [9]:
# b. Float (float) Represents real numbers which include decimal points or floating-point numbers
# Ex: 3.54, -0.5, 42.0
3.45*5

17.25

In [10]:
# c. Complex (complex) Used to represent complex numbers in the form a+bj, where 'a' is the real part, & 'b' is the imaginary part.
# Ex: 3+4j, 2-5j
(3+4j) + (1+2j)

(4+6j)

In [11]:
# 2. Sequence Data Types
# a. String (str) Represents text or a sequence of characters enclosed in quotes (either single ' or double " )
# Ex: "Hello World", 'Python', "Data Science'
'Hello'+' '+'World'

'Hello World'

In [12]:
# a.a String slicing
'Hello'[1:4]

'ell'

In [29]:
# b. List (list) Ordered, Mutable( Can be change ) collection of items, which can be any data type
# Ex: [1,2,3], ['apple', 'Banana', 'Cherry'], [1, "apple", 3.14]
my_list= [1,2,3]
my_list.append(4)

In [37]:
my_list

[1, 2, 3, 4]

In [44]:
# c. Tuple (tuple) Similar to list but Immutable (cannot be changed once created). Used for storing a fixed collection of items
# Ex: (1,2,3),('a','b','c')
my_tuple = (1,2,3)
print (my_tuple[1])

2

In [50]:
# d. Range (range) Represents a sequence of numbers, commonly used in for-loops.
for i in range(3):
    print(i)

0
1
2

In [66]:
# 3. mapping data types
# a. Dictionary (dict)
# An unordered collection of key-value pairs. each key is unique, and the values can be of any data type
# Ex: {'name': 'Alice', 'age':30},{'fruit':'apple','quatity':10}
my_dict = {'name':'Koushik','age':24}
print(my_dict['name'])

Koushik

In [70]:
# 4. Set (set) A collection of unique items. sets are mutable but cannot contain duplicate elements
set1 = {1,2,3}
set2 = {2,3,4}
print(set1 & set2)

{2, 3}

In [74]:
# 5. Boolean Data Type
# a. Boolean (bool) Represent either 'True' Or 'False', ommonly used in conditional statements and logical operations
# Ex: True, False
# Boolean operators AND(and), OR (or), NOT (not)
# Comparision Operators
# ==: Equals to
# !=: Not Equals to
# >: Greater than
# <: Lesser than
# >=: Greater than or equal to 
# <=: Lesser trhan equal to

In [76]:
a=5
b=3
print(a==b)

False

In [78]:
print(a!=b)

True

In [88]:
print(a>=b)

True

In [101]:
print(a<=b)

False

In [105]:
# a.1 Logistic Operators
#AND (and)
x=5
y=10
z=3
result = (x<y) and (y>z)
print(result)

True

In [107]:
# a.2 OR (or) The 'or' operator returns true if a least one of the condition is true 
x=5
y=10
result = (x>y) or (x<y)
print(result)

True

In [109]:
# a.3 NOT (not) The 'not' operator reverses the Boolean value
# if the value is true, 'not' makes it False.
# if the value is False, 'not' makes it true.
x = True
result = not x
print(result)

False

In [111]:
# a.4 Boolean Contexts
# falsy values: None, False, 0 or 0.00
# Empty sequences or collections: '' (empty string), [] (empty list), () (empty tuple), {} (empty dictionary)

# Truthly values : 1, -10
# Non-empty string (e.g., 'hello')
# Non-empty list, tuple, or dictionary

# Example of falsy values:
print(bool(0))       # False
print(bool(''))      # False
print(bool([]))      # False
print(bool(None))    # False

# Example of truthy values:
print(bool(1))       # True
print(bool('hello')) # True
print(bool([1, 2]))  # True

False
False
False
False
True
True
True

In [113]:
# 6. Binary Data Types
# 6.1 Bytes (bytes) You can create a bytes object by using the b prefix before a string. The string is interpreted as a sequence of bytes.
# The b indicates that this is a byte string, and it stores the data as bytes rather than as a string of characters.
a=b'Hello'
print(a)

b'Hello'

In [115]:
# 6.1.1 Bytes are immutable:
# Once a bytes object is created, it cannot be modified. Any attempt to modify the contents will raise an error.
a[0] = 72

TypeError: 'bytes' object does not support item assignment

In [121]:
# 6.2 Bytearray (bytearray) A bytearray is a mutable sequence of bytes, meaning you can modify its contents after it is created.
b_arr = bytearray('hello', 'utf-8')
print(b_arr)
b_arr2 = bytearray([65, 66, 67])
print(b_arr2)

bytearray(b'hello')
bytearray(b'ABC')

In [123]:
# 6.2.1 Modifying a bytearray object:
# We can change the contents of a bytearray object by using indexing or slicing.
b_arr[0] = 72  # Changes 'h' to 'H' American statndard code for information interchange (ASCII)
print(b_arr)

bytearray(b'Hello')

In [127]:
# 6.3 Memoryview (memoryview) A memoryview object allows you to access and manipulate the memory of other binary objects (like bytes or bytearray) without copying the underlying data. It gives you a view of the original object, making it useful for large data sets or performance-sensitive applications where copying data would be inefficient.
# Createing a memoryview
b = bytearray('hello', 'utf-8') # Create a bytearray object
mview = memoryview(b)
print(mview) #Create a memoryview from the bytearray

<memory at 0x0000020D3CE3F040>

In [160]:
# 6.3.1 Accessing Data through a Memoryview:
# We can access data in a memoryview just like you would with a list or other sequence type. You can use slicing, indexing, and iterating.
print(mview[0]) # Access data via memoryview
print(mview[1:4]) # Slice a memoryview

104
<memory at 0x0000020D3CE3F580>

In [164]:
# 2. Variables & Assignment In Python, a variable is a name that stores a value. You can assign a value to a variable using the = operator.
age = 24         # age is assigned the value 24
height = 5.11    # height is assigned the value 5.11
name ="Koushik"  # name is assigned the value "Koushik"
print(name,height,age)

Koushik 5.11 24

In [166]:
# 2.1 Type Conversion (Sometimes, you may need to convert one type of value to another. For example, you may want to convert a string to an integer or a float.)
# 2.1.1 From String to Integer
str_num = "100"
int_num = int(str_num)
print(int_num)

100

In [170]:
# 2.1.2 From String to Float
str_num = "46.56"
float_num = float(str_num)
print(float_num)

46.56

In [174]:
# 2.1.3 From Integer to String
num = 123
str_num = str(num)
print(str_num)

123

In [178]:
# 3. Basic Operations
# 3.1 Arithmetic Operations:
# These include addition, subtraction, multiplication, division, etc.

a = 10
b = 3

# Arithmetic operations
sum_result = a + b        # Addition
diff_result = a - b       # Subtraction
prod_result = a * b       # Multiplication
div_result = a / b        # Division (float)
floor_div_result = a // b # Floor division (integer)
mod_result = a % b        # Modulo (remainder)
exp_result = a ** b       # Exponentiation (a raised to the power b)

print(sum_result)    # Output: 13
print(diff_result)   # Output: 7
print(prod_result)   # Output: 30
print(div_result)    # Output: 3.3333...
print(floor_div_result)  # Output: 3
print(mod_result)    # Output: 1
print(exp_result)    # Output: 1000

13
7
30
3.3333333333333335
3
1
1000

In [180]:
# 3.1.1 String Manipulation
# Concatenation: Concatenating strings means joining two or more strings together.
first_name = "Koushik"
last_name = "Gowda"
full_name = first_name+" "+last_name
print(full_name)

Koushik Gowda

In [182]:
# Slicing: Slicing allows you to extract a part of a string.
name = "python"
slice_result = name[0:3]
print(slice_result)

pyt

In [186]:
# String Formatting: You can format strings in different ways, such as using f-strings or .format().
age = 24
message = f"My age is {age}"
print(message)

name = "Alice"
age = 30

# Using f-string to format a string
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My age is 24
My name is Alice and I am 30 years old.

In [188]:
width = 5
height = 10
area = f"The area is {width * height} square units."
print(area)

The area is 50 square units.

In [190]:
# 4 Practice: Simple python script
# Let’s create a simple Python script that asks the user for input and performs operations like calculating BMI and converting temperatures between Celsius and Fahrenheit.

# Function to calculate BMI (Body mass index)

In [1]:
# Function to calculate BMI
def calculate_bmi(weight, height):
    bmi = weight / (height ** 2)
    return bmi

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Main function to get user input and perform operations
def main():
    # Ask user for choice
    print("Choose an option:")
    print("1. Calculate BMI")
    print("2. Convert temperature")
    choice = input("Enter 1 or 2: ")

    if choice == "1":
        # BMI Calculation
        weight = float(input("Enter your weight in kilograms: "))
        height = float(input("Enter your height in meters: "))
        bmi = calculate_bmi(weight, height)
        print(f"Your BMI is: {bmi:.2f}")

    elif choice == "2":
        # Temperature Conversion
        print("1. Celsius to Fahrenheit")
        print("2. Fahrenheit to Celsius")
        temp_choice = input("Choose conversion (1 or 2): ")

        if temp_choice == "1":
            celsius = float(input("Enter temperature in Celsius: "))
            fahrenheit = celsius_to_fahrenheit(celsius)
            print(f"{celsius}°C is equal to {fahrenheit:.2f}°F")

        elif temp_choice == "2":
            fahrenheit = float(input("Enter temperature in Fahrenheit: "))
            celsius = fahrenheit_to_celsius(fahrenheit)
            print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")

    else:
        print("Invalid choice. Please choose either 1 or 2.")

# Run the main function
if __name__ == "__main__":
    main()

Choose an option:
1. Calculate BMI
2. Convert temperature

Enter 1 or 2:  2

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius

Choose conversion (1 or 2):  2
Enter temperature in Fahrenheit:  84

84.0°F is equal to 28.89°C

In [210]:
# Part 2: Control flow in python
# Conditionals: if, elif, else
if condition:
    # block of code if condition is True
elif another_condition:
    # block of code if the second condition is True
else:
    # block of code if none of the above conditions are True

IndentationError: expected an indented block after 'if' statement on line 3 (673311338.py, line 5)

In [221]:
# Ex: 
age = 24
if age < 18:
    print("you are a minor.")
elif age >= 18 and age < 60:
    print("You are an audult.")
else:
    print("You are a senior.")

You are an audult.

In [235]:
x = -0

if x > 0:
    if x % 2==0:
        print("x is a positive Even number")
    else:
        print("x is a positive Odd number")
elif x < 0:
    if x % 2==0:
        print("x is a negative Even number")
    else:
        print("x is a negative Odd number")
else:
    print("x is Zero")

x is Zero

In [241]:
x = 10

y = 5

if x > 5 and y < 10:
    print("Both conditions are True")
elif x > 5 and not (y < 10):
    print("x > 5 is True and y < 10 is False")
elif not (x > 5) and y < 10:
    print("x > 5 is False and y < 10 is True")
else:
    print("Both conditions are False")

Both conditions are True

In [ ]:
# Loops: For & While loops
# for loop: (for)
# The for loop is commonly used to iterate over sequences like lists, ranges, or dictionaries. It runs a block of code for each element in the sequence.

# Ex: 
for i in range(1,6):
    print(i)

In [247]:
# While Loop (while)
count = 1
while count <= :
    print(count)
    count += 1

1
2
3
4
5

In [7]:
# Loop control: break 
for i in range(1, 100):
    if i == 3:
        break
    print(i)

1
2

In [9]:
# Loop control: continue
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [29]:
# Practice Tasks
# 1. Fibonacci Sequence: The Fibonacci sequence starts with 0 and 1, and each subsequent number is the sum of the previous two. Let’s write a program to print the first n Fibonacci numbers.

n = int(input("Enter the number of Fibonacci terms: "))

a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b  # Update a and b to the next two Fibonacci numbers

Enter the number of Fibonacci terms:  9

0 1 1 2 3 5 8 13 21

In [47]:
# 2. Prime Numbers:
# A prime number is a number greater than 1 that has no divisors other than 1 and itself. Let’s write a program to check if a number is prime and print all primes up to n.

n = int(input("Enter a number: "))

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:  # If divisible by any number other than 1 and itself
            is_prime = False
            break
    if is_prime:
        print(num)

Enter a number:  11

2
3
5
7
11

In [49]:
# 3. Squares of Numbers from 1 to 10 (using a for loop):
# Let’s create a for loop that prints the squares of numbers from 1 to 10.

for i in range(1, 11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [52]:
# Part 3: Functions & Modules in Python
# 1.  Defining Functions
# A function in Python is a block of reusable code that performs a specific task. Functions help break the program into smaller chunks, making code modular, easier to test, and maintain.
# Ex:
def greet(name):
    print(f"Hello, {name}!")

greet("Koushik")

Hello, Koushik!

In [54]:
def greet(name, age=25):  # age has a default value
    print(f"Hello, {name}. You are {age} years old.")

greet("Bob")         # Output: Hello, Bob. You are 25 years old.
greet("Alice", 30)   # Output: Hello, Alice. You are 30 years old.

Hello, Bob. You are 25 years old.
Hello, Alice. You are 30 years old.

In [56]:
def describe_person(name, age, city):
    print(f"{name} is {age} years old and lives in {city}.")

describe_person(age=30, city="New York", name="John")
# Output: John is 30 years old and lives in New York.

John is 30 years old and lives in New York.

In [62]:
# Global Variables Example:

x = 10  # Global variable

def my_function():
    print(x)  # Accessing the global variable inside the function

my_function()  # Output: 10

10

In [ ]:
# Local Variables Example:

def my_function():
    x = 10  # Local variable
    print(x)

my_function()  # Output: 10
# print(x)  # Error: x is not defined outside the function

In [66]:
import math
print(math.sqrt(16))  # Output: 4.0

4.0

In [96]:
import math

# Square root of a number
print(math.sqrt(25))  # Output: 5.0

# Factorial of a number
print(math.factorial(5))  # Output: 120

5.0
120

In [98]:
# Practice Tasks
# 1. Factorial of a Number:
# The factorial of a number is the product of all positive integers less than or equal to that number. For example, the factorial of 5 is 5! = 5 * 4 * 3 * 2 * 1 = 120.

def factorial(n):
    if n == 0:  # Base case
        return 1
    else:
        return n * factorial(n - 1)  # Recursion

print(factorial(5))

120

In [100]:
print(max(10, 5))  # Output: 10

10

In [104]:
# Part 4: Working with collection
# 4.1 List: Ordered, Mutable Collections

# Creating a list
numbers = [1, 2, 3, 4, 5]

# Accessing elements by index (0-based index)
print(numbers[0])  # Output: 1
print(numbers[2])  # Output: 3

print(numbers[-1])  # Output: 5 (last element)

1
3
5

In [122]:
# 4.1.1 Modifying Lists:
# We can modify a list by adding, removing, or changing elements.

# Adding elements
numbers.append(6)  # Adds 6 to the end of the list

# Removing elements
numbers.remove(6)  # Removes the first occurrence of 3 from the list

# Popping elements (removes and returns an element at a specific index)
popped_value = numbers.pop(2)  # Removes and returns the element at index 2
print(popped_value)  # Output: 4

# Modifying an element
numbers[0] = 100  # Changes the first element to 100

5

In [124]:
print(numbers)

[100, 2, 6, 6, 6, 6, 6]

In [126]:
# 4.1.2 List Comprehensions:
# List comprehensions provide a concise way to create lists. You can filter and manipulate lists efficiently.

# Example: Sum of all even numbers in a list:

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
even_sum = sum([num for num in numbers if num % 2 == 0])
print(even_sum)  # Output: 20 (2 + 4 + 6 + 8)

# Common List Methods:
# append(): Adds an element to the end.

# remove(): Removes the first occurrence of an element.

# pop(): Removes and returns an element at a specified index.

# sort(): Sorts the list in ascending order (use reverse=True for descending order).

20

In [128]:
numbers.sort()  # Sorts in ascending order
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [130]:
# 4.2 Tuples: Ordered, Immutable Collections
# Creating a tuple
coordinates = (3, 5)

# Accessing tuple elements
print(coordinates[0])  # Output: 3
print(coordinates[1])  # Output: 5

3
5

In [136]:
# 4.3 Dictionaries: Key-Value Pairs
# A dictionary is an unordered collection of data stored in key-value pairs. Dictionaries are mutable, allowing you to change, add, or remove key-value pairs.

# Creating a dictionary
city_population = {"New York": 8419600, "Los Angeles": 3980400, "Chicago": 2716000}

# Accessing values using keys
print(city_population["New York"])  # Output: 8419600

8419600

In [134]:
# 4.3.1 Modifying Dictionaries:
# We can add, remove, or modify key-value pairs.

# Modifying a value
city_population["Chicago"] = 2800000  # Updating the population

# Adding a new key-value pair
city_population["Houston"] = 2328000

# Removing a key-value pair
del city_population["Los Angeles"]

In [138]:
print(city_population.keys())   # Output: dict_keys(['New York', 'Chicago', 'Houston'])
print(city_population.values())  # Output: dict_values([8419600, 2800000, 2328000])
print(city_population.items())  # Output: dict_items([('New York', 8419600), ('Chicago', 2800000), ('Houston', 2328000)])

dict_keys(['New York', 'Los Angeles', 'Chicago'])
dict_values([8419600, 3980400, 2716000])
dict_items([('New York', 8419600), ('Los Angeles', 3980400), ('Chicago', 2716000)])

In [140]:
# 4.4 Sets: Unordered Collections of Unique Elements
# A set is an unordered collection of unique elements. Sets are useful for storing items that should not have duplicates and for performing set operations like union, intersection, and difference.
# Creating Sets:
# A set is created using curly braces {} or the set() function.

# Creating a set
numbers_set = {1, 2, 3, 4, 5}

# Creating a set from a list (removes duplicates)
duplicate_numbers = [1, 2, 3, 2, 1]
unique_numbers = set(duplicate_numbers)
print(unique_numbers)  # Output: {1, 2, 3}

{1, 2, 3}

In [158]:
# Set Operations:
# Union (|): Combines two sets, removing duplicates.

# Intersection (&): Returns the common elements between two sets.

# Difference (-): Returns elements that are in one set but not the other.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
union_set = set1 | set2  # Output: {1, 2, 3, 4, 5, 6}
print(union_set)
# Intersection
intersection_set = set1 & set2  # Output: {3, 4}
print(intersection_set)
# Difference
difference_set = set1 - set2  # Output: {1, 2}
print(difference_set)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [160]:
# Practice Task
# 1. Sum of All Even Numbers in a List using List Comprehensions:

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
even_sum = sum([num for num in numbers if num % 2 == 0])
print(even_sum)

20

In [162]:
# 2. Create a Dictionary with City Names as Keys and Populations as Values:

city_population = {"New York": 8419600, "Los Angeles": 3980400, "Chicago": 2716000}

for city, population in city_population.items():
    print(f"The population of {city} is {population}.")

The population of New York is 8419600.
The population of Los Angeles is 3980400.
The population of Chicago is 2716000.

In [164]:
# 3. Use Sets to Find Common Elements between Two Lists:

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

common_elements = set1 & set2
print(common_elements)

{4, 5}

In [176]:
# Part 5: Introduction to Python Libraries for Data Science

# 1. NumPy: Numerical Computing and Arrays
# 2. Pandas: Data Manipulation and Analysis
import pandas as pd

data = {
    "Name": ["John","Jane","Alice","Bob"],
    "Age":[22,25,24,23],
    "Grade": ["A","B","B","A"]
}

df=pd.DataFrame(data)
print(df)

    Name  Age Grade
0   John   22     A
1   Jane   25     B
2  Alice   24     B
3    Bob   23     A

In [178]:
# Accessing a specific column (returns a Series)
print(df["Name"])

0     John
1     Jane
2    Alice
3      Bob
Name: Name, dtype: object

In [180]:
# Accessing a specific row (by index)
print(df.iloc[1])  # Accesses the second row

Name     Jane
Age        25
Grade       B
Name: 1, dtype: object

In [182]:
# Filtering data (for example, select rows where Age is greater than 23)
filtered_df = df[df["Age"] > 23]
print(filtered_df)

    Name  Age Grade
1   Jane   25     B
2  Alice   24     B

In [184]:
# Sorting data by a column
sorted_df = df.sort_values("Age", ascending=False)
print(sorted_df)

    Name  Age Grade
1   Jane   25     B
2  Alice   24     B
3    Bob   23     A
0   John   22     A

In [186]:
# Aggregation (find the average age)
avg_age = df["Age"].mean()
print("Average Age:", avg_age)

Average Age: 23.5

In [188]:
# Practice Task

import pandas as pd

# Creating a dataset using a dictionary
students_data = {
    "Name": ["John", "Emma", "Liam", "Olivia", "Sophia"],
    "Age": [20, 22, 21, 19, 23],
    "Grade": ["A", "B", "B", "A", "A"]
}

# Load the dataset into a Pandas DataFrame
df_students = pd.DataFrame(students_data)

# Print the DataFrame
print(df_students)

     Name  Age Grade
0    John   20     A
1    Emma   22     B
2    Liam   21     B
3  Olivia   19     A
4  Sophia   23     A

In [192]:
# Find avg age
avg_age = df_students["Age"].mean()
print("Average Age of Students:", avg_age)

Average Age of Students: 21.0

In [194]:
# Sort the students by age
sorted_students = df_students.sort_values("Age", ascending=True)
print(sorted_students)

     Name  Age Grade
3  Olivia   19     A
0    John   20     A
2    Liam   21     B
1    Emma   22     B
4  Sophia   23     A

In [198]:
# Filter students with Grade A
grade_A_students = df_students[df_students["Grade"] == "A"]
print(grade_A_students)

     Name  Age Grade
0    John   20     A
3  Olivia   19     A
4  Sophia   23     A

In [207]:
# Part 6: Practice Excercise

# Step 1: Create a Simple Dataset
# Step 2: import data

import pandas as pd

df = pd.read_csv('students_grade.csv')

# Data Explore:
df.describe()

           Score
count  20.000000
mean   81.300000
std    12.100892
min    55.000000
25%    73.250000
50%    84.000000
75%    91.250000
max    97.000000

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20 non-null     object
 1   Grade   20 non-null     object
 2   Score   20 non-null     int64
dtypes: int64(1), object(2)
memory usage: 612.0+ bytes

In [235]:
df.head(10)

      Name Grade  Score
0    Aiden     B     82
1    Bella     A     92
2  Charlie     C     67
3    Diana     B     88
4    Ethan     A     95
5    Fiona     C     71
6   George     B     85
7   Hannah     A     91
8    Isaac     D     60
9     Jack     C     75

In [239]:
df.columns

Index(['Name', 'Grade', 'Score'], dtype='object')

In [249]:
sorted_df = df.sort_values(by='Grade', ascending=False)
print("\nSorted students by grade:")
print(sorted_df)

Sorted students by grade:
       Name Grade  Score
15     Paul     D     55
8     Isaac     D     60
19    Tyler     C     74
2   Charlie     C     67
5     Fiona     C     71
9      Jack     C     75
13     Noah     C     70
11     Liam     B     83
18   Sophia     B     78
16    Quinn     B     89
14   Olivia     B     87
0     Aiden     B     82
6    George     B     85
3     Diana     B     88
12      Mia     A     97
1     Bella     A     92
7    Hannah     A     91
4     Ethan     A     95
17    Riley     A     93
10     Kara     A     94

In [255]:
# Step 4: Filter students with grades above 75
filtered_df = df[df['Score'] > 75]
print(filtered_df)

      Name Grade  Score
0    Aiden     B     82
1    Bella     A     92
3    Diana     B     88
4    Ethan     A     95
6   George     B     85
7   Hannah     A     91
10    Kara     A     94
11    Liam     B     83
12     Mia     A     97
14  Olivia     B     87
16   Quinn     B     89
17   Riley     A     93
18  Sophia     B     78